footer.footer.container 
    a.footer__link(href="#")
        | 2020. Все права защищены
    a.footer__link#footer-link-politic(href="#")
        | Политика конфиденциальности 

include ../includes/scripts.pug