section.main__about.about 
    .about__top
        h2.about__title.section-title 
             | Обо мне
        p.about__subtitle
             | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.
    .about__bottom 
        img.about__img-foto(src="/img/info-image1.png")
        .about__content
            a.about__link(href="#")
                img.about__img-foto(src="/img/info-image2.png")
            button.about__button 
                | Смотреть