.spec__info
    .spec__acordion.acordion
        ul.acordion__list
            li.acordion__item 
                .acordion__header
                    h3.acordion__title 
                        | Увеличение продаж
                    button.acordion__button 
                        svg.acordion__button-icon.acordion__button-icon--1(height="22" width="22")
                            use(xlink:href="/img/sprites/sprite-mono.svg#acordion__button")
                p.acordion__text
                    | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.
            li.acordion__item 
                .acordion__header 
                    h3.acordion__title 
                        | Повышение узнаваемости
                    button.acordion__button 
                        svg.acordion__button-icon.acordion__button-icon--2(height="22" width="22")
                            use(xlink:href="/img/sprites/sprite-mono.svg#acordion__button")
                p.acordion__text 
                    | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
            li.acordion__item 
                .acordion__header 
                    h3.acordion__title 
                        | Расширение компании
                    button.acordion__button 
                        svg.acordion__button-icon.acordion__button-icon--2(height="22" width="22")
                            use(xlink:href="/img/sprites/sprite-mono.svg#acordion__button")
                p.acordion__text 
                    | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.
            li.acordion__item 
                .acordion__header 
                    h3.acordion__title 
                        | Что-то еще
                    button.acordion__button 
                        svg.acordion__button-icon.acordion__button-icon--2(height="22" width="22")
                            use(xlink:href="/img/sprites/sprite-mono.svg#acordion__button")
                p.acordion__text 
                    | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.
            li.acordion__item 
                .acordion__header 
                    h3.acordion__title 
                        | И еще что-то
                    button.acordion__button 
                        svg.acordion__button-icon.acordion__button-icon--2(height="22" width="22")
                            use(xlink:href="/img/sprites/sprite-mono.svg#acordion__button")
                p.acordion__text 
                    | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.
            li.acordion__item 
                .acordion__header 
                    h3.acordion__title
                        | И еще одно что-нибудь
                    button.acordion__button 
                        svg.acordion__button-icon.acordion__button-icon--2(height="22" width="22")
                            use(xlink:href="/img/sprites/sprite-mono.svg#acordion__button")
                p.acordion__text 
                    | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.