section.main__another.another 
    h2.another__title.section-title 
        | Другие проекты
    .another__content 
        .another__slider.swiper 
            .swiper-wrapper
                .swiper-slide.another-slide
                    img.another-slide-logo(src="/img/another__logo.png", alt="logo of company")
                    .another-slide-body
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                .swiper-slide.another-slide
                    img.another-slide-logo(src="/img/another__logo.png", alt="logo of company")
                    .another-slide-body
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                .swiper-slide.another-slide
                    img.another-slide-logo(src="/img/another__logo.png", alt="logo of company")
                    .another-slide-body
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                .swiper-slide.another-slide
                    img.another-slide-logo(src="/img/another__logo.png", alt="logo of company")
                    .another-slide-body
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                .swiper-slide.another-slide
                    img.another-slide-logo(src="/img/another__logo.png", alt="logo of company")
                    .another-slide-body
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                .swiper-slide.another-slide
                    img.another-slide-logo(src="/img/another__logo.png", alt="logo of company")
                    .another-slide-body
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
        .another__navigation 
            button.another__button-prev.slider-navigation-button
                | назад
            button.another__button-next.slider-navigation-button
                | дальше