nav.header__navigation.navigation
            ul.navigation__list
                li.navigation__item
                    a.navigation__link(href="#")  Обо мне
                li.navigation__item
                    a.navigation__link(href="#") Мои проекты
                li.navigation__item 
                    a.navigation__link(href="#") Отзывы