section.main__review.review
    h2.review__title.section-title
        | Отзывы клиентов
    .review__body
        a.review__link#client-smitt(href="#")
            img.review__img(src="/img/smitt.png", alt="client-review")
            button.review__button
                | Смотреть отзыв
            p.review__text 
                | Уилл Смит
                span 
                    | Актер, певец, классный мужик
        a.review__link(href="#")
            img.review__img.review__img--medium(src="/img/Mark.png", alt="clien-review")
            p.review__text 
                | Марк Аврелий
                span 
                    | Римский император, философ
        a.review__Link(href="#")
            img.review__img.review__img--small(src="img/Vanya.png", alt="clien-review")
            p.review__text 
                | Дядя Ваня
                span 
                    | Обувщик 