section.main__start-screen.start-screen 
    h1.start-screen__title Бизнес - 
        span консалтинг
    img.start-screen__img(src="/img/start-image.png")
    p.start-screen__subtitle 
        | Консультирую по вопросам масштабирования бизнеса