.webnauts__content 
    .webnauts__pagination
    .webnauts__swiper.swiper 
        .swiper-wrapper 
            .swiper-slide.slide-1(data-hash = "slide1")
                .slide-1__content.slide-content
                    .swiper-slide-title
                        | О проекте
                    .swiper-slide-text 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                    .swiper-slide-footer 
                        svg.swiper-slide-footer-img(height="24" width="24")
                            use(xlink:href="img/sprites/sprite-mono.svg#link")
                        a.swiper-slide-footer-link(href="#")
                            | webnauts.pro
                img.slide-1__img(src="/img/project-content.png", alt="progectWenauts")
            .swiper-slide.slide-2(data-hash = "slide2")
                .slide-2__content.slide-content
                    .swiper-slide-title 
                        | Основные Результаты
                    .swiper-slide-text 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. 
                        p 
                            | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. 
                .slide-2__main 
                    ul.slide-2__list 
                        li.slide-2__list-item 
                            | 300
                            p.slide-2__list-text
                                | Тут может быть  какое-то описание в 2 строки
                        li.slide-2__list-item 
                            | 300
                            p.slide-2__list-text
                                | Тут может быть  какое-то описание в 2 строки
                        li.slide-2__list-item 
                            | 300
                            p.slide-2__list-text
                                | Тут может быть  какое-то описание в 2 строки
                    ul.slide-2__list 
                        li.slide-2__list-item 
                            | 300
                            p.slide-2__list-text
                                | Тут может быть  какое-то описание в 2 строки
                        li.slide-2__list-item 
                            | 300
                            p.slide-2__list-text
                                | Тут может быть  какое-то описание в 2 строки
                        li.slide-2__list-item 
                            | 300
                            p.slide-2__list-text
                                | Тут может быть  какое-то описание в 2 строки                    
            .swiper-slide.slide-3(data-hash = "slide3")
                .slide-3-wrapper-top 
                    .slide-3__content.slide-content 
                        .swiper-slide-title 
                            | Показатели роста
                        .swiper-slide-text
                            p 
                                | По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис.
                    .swiper.swiper-3
                        .swiper-wrapper.swiper-3-wrapper
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_1.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_2.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_3.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_4.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_5.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_1.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_2.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_3.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_4.png", alt="Слайдер_3-показатели_роста")
                            .swiper-slide.swiper-3-slide
                                img.swiper-3-img(src="/img/swiper3_5.png", alt="Слайдер_3-показатели_роста")
                .swiper.swiper-3-mini
                    .swiper-wrapper.swiper-3-wrapper.swiper-3-wrapper--mini
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img.swiper-3-img--mini(src="/img/swiper3_1.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_2.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_3.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_4.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_5.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img.swiper-3-img--mini(src="/img/swiper3_1.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_2.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_3.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_4.png", alt="Слайдер_3-показатели_роста")
                        .swiper-3-slide--mini.swiper-slide.swiper-3-slide
                            .swiper-3-img-wrapper
                                img.swiper-3-img-mini.swiper-3-img--mini(src="/img/swiper3_5.png", alt="Слайдер_3-показатели_роста")

            .swiper-slide.slide-4(data-hash = "slide4")
