.webnauts__header 
    h2.webnauts__title.section-title  
        | Webnauts 
    .webnauts__navigation 
        button.webnauts__navigation-button.webnauts__navigation-button--prev.slider-navigation-button
            | Назад 
        button.webnauts__navigation-button.webnauts__navigation-button--next.slider-navigation-button
            | Вперед