section.main__write-me.write-me 
    h2.write-me__title.section-title
        | Напишите мне
        span Проконсультирую по любым вопросам, связанным с масштабированием бизнеса

    include ./write-me-list.pug