ul.write-me__list.write-list 
    li.write-list__item 
        a.write-list__link(href="#")
            | E-mail 
        svg.write-list__img(height="43" width="43")
            use(xlink:href="")
    li.write-list__item 
        a.write-list__link(href="#")
            | Facebook
        svg.write-list__img(height="43" width="43")
            use(xlink:href="")
    li.write-list__item 
        a.write-list__link(href="#")
            | Telegram
        svg.write-list__img(height="43" width="43")
            use(xlink:href="")