@font-face {
    font-family: SF Pro Display;
    src: local('SFProDisplay'), local('SFProDisplay-Medium'), url(../fonts/SFProDisplay-Medium.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SF Pro Display;
    src: local('SFProDisplay'), local('SFProDisplay-Regular'), url(../fonts/SFProDisplay-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Bebas Neue;
    src: local('BebasNeue'), local('BebasNeueBold'), url(../fonts/BebasNeueBold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype');


@font-face {
    font-family: Bebas Neue;
    src: local('BebasNeue'), local('BebasNeueRegular') url(../fonts/BebasNeueRegular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}